exportPattern("^[^\\.]")
import(Formula, ggplot2, reshape2)
S3method(plot, oaxaca)
S3method(summary, oaxaca)
importFrom("methods", "is")
importFrom("stats", "lm", "model.frame", "model.matrix", "qnorm", "quantile", "sd")
